
EMIVE_JWT_TOKEN=

EMIVE_REFRESH_TOKEN=
EMIVE_API_BASE_URL=
EMIVE_API_PEAK_ENDPOINT=
DEPARTAMENTOS_FILTRO=
EMIVE_ORIGIN_URL=
EMIVE_REFERER_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-db:5432/${POSTGRES_DB}